@media (min-width: 0px) {
    .item {
        background-color: #EEE;
        border-radius: 10px;
        margin: 0px 0px 10px 20px;
        padding: 3px 6px 3px 6px;
    }

    .item-label {
        display: inline-block;
        font-weight: 400;
        font-size: 14pt;
    }

    .item-value {
        font-size: 14pt;
        float: right;
    }
}