:root {
    --category-font-size: 16pt;
}

@media (min-width: 0px) {

    .category {
        position: relative;
        padding: var(--category-margin);
        border-radius: var(--radius);
        background-color: #dbe4ff;
        margin-bottom: var(--margin);
        box-shadow: var(--shadow);
        overflow: hidden;
    }

    .category.collapsed {
        height: 32px;
    }

    .category.expanded {
        height: auto;
    }

    .category-label {
        display: inline-block;
        font-weight: 500;
        font-size: var(--category-font-size);
        margin-bottom: var(--category-margin);
        padding: 3px 5px 4px 5px;
    }

    .category-arrow {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url('../Images/arrow-black.png') no-repeat;
        background-size: cover;
        image-rendering: pixelated;
        transition: transform 200ms;
    }
    
    .category-arrow.expanded {
      transform: rotate(0deg);
    }
    
    .category-arrow.collapsed {
      transform: rotate(-90deg);
    }

    .category-label-wrapper {
        display: inline-block;
    }

    .category-field {
        width: 180px;
        font-weight: 500;
        font-size: var(--category-font-size);
        padding: 3px 5px 4px 5px;
    }

    .edit-btn {
        vertical-align: top;
        padding: 7px 9px 7px 9px;
        font-size: var(--item-font-size);
        float: right;
    }

    .category-btn {
        font-size: var(--category-font-size);
        width: 32px;
        height: 32px;
    }

    .category-total {
        padding: 0px var(--category-margin) 0px var(--category-margin);
    }

    .category-total.collapsed {
        position: absolute;
        top: 11px;
        right: 5px;
    }

    .category-total h3 {
        display: inline-block;
        font-size: var(--item-font-size);
        font-weight: 500;
    }

    .category-total p {
        font-size: var(--item-font-size);
        display: inline-block;
    }

    .category-add-form input {
        background-color: #dbe4ff;
    }

    .category-add-form input:hover {
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px #0A47FF;
    }

    .category-add-form input:focus {
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px #0A47FF;
    }
}