:root {
    --category-font-size: 16pt;
}

@media (min-width: 0px) {
    .category-label {
        display: inline-block;
        font-weight: 500;
        font-size: var(--category-font-size);
        margin-bottom: var(--margin);
        padding: 3px 5px 4px 5px;
    }

    .category-field {
        width: 180px;
        font-weight: 500;
        font-size: var(--category-font-size);
        padding: 3px 5px 4px 5px;
    }

    .edit-btn {
        vertical-align: top;
        padding: 7px 9px 7px 9px;
        font-size: var(--item-font-size);
        float: right;
    }

    .category-btn {
        font-size: var(--category-font-size);
        width: 32px;
        height: 32px;
    }

    .category-total {
        padding: var(--item-padding);
        padding-top: 0px;
        margin-bottom: var(--margin);
    }

    .category-total h3 {
        display: inline-block;
        font-size: var(--item-font-size);
        font-weight: 500;
    }

    .category-total p {
        display: inline-block;
    }
}