@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap');

:root {
  --margin: 10px;
  --category-margin: 5px;
  --radius: 4px;
  --shadow: 0px 5px 10px -10px black;
}

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 0px) {
  body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
  }

  .header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    padding-bottom: 100px;
    color: white;
    background-color: #0A47FF;
    z-index: -1;
  }

  .title {
    font-family: 'Catamaran', sans-serif;
    font-size: 28pt;
    font-weight: 800;
    text-align: left;
    padding: 10px 0px 0px 20px;
  }

  .container {
    display: block;
    margin-top: 80px;
    padding: 10px;
    border-radius: 40px;
    background-color: white;
  }

  h1 {
    font-weight: 600;
    font-size: 18pt;
    text-align: center;
    padding-bottom: var(--margin);
  }

  button {
    display: inline-block;
    border: none;
    outline:none;
    border-radius: var(--radius);
    background-color: #0A47FF;
    box-shadow: var(--shadow);
    color: white;
  }

  input {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    border-radius: var(--radius);
    margin-bottom: var(--category-margin);
    background-color: white;
    box-shadow: var(--shadow);
    transition: 0.2s;
  }

  input:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px -10px #0A47FF;
  }

  input:focus {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #0A47FF;
  }

  .add-btn {
    background: url('../Images/add-icon.png') no-repeat;
    background-size: cover;
    background-color: #0A47FF;
    margin-left: var(--category-margin);
    vertical-align: top;
  }

  .remove-btn {
    background: url('../Images/remove-icon.png') no-repeat;
    background-size: cover;
    background-color: #ff384b;
    margin-left: var(--category-margin);
    vertical-align: top;
  }

  .float-right {
    float: right;
  }

  .mobile-view-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    display: none;
  }

  .container {
    display: none;
  }

  .mobile-view-only {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0A47FF;
    color: white;
  }

  .mobile-view-only h1 {
    font-size: 36pt;
    padding-bottom: 10px;
  }

  .mobile-view-only img {
    display: block;
    width: 200px;
    margin: 20px auto 0px auto;
  }
}