:root {
    --item-font-size: 12pt;
    --item-padding: 3px 6px 3px 6px;
}

@media (min-width: 0px) {
    .item {
        background-color: white;
        border-radius: var(--radius);
        margin: 0px 0px var(--category-margin) 20px;
        padding: var(--item-padding);
        box-shadow: var(--shadow);
    }

    .item-label {
        display: inline-block;
        font-weight: 500;
        font-size: var(--item-font-size);
        vertical-align: top;
    }

    .item-value {
        font-size: var(--item-font-size);
        float: right;
    }

    .item-btn {
        font-size: var(--item-font-size);
        width: 26px;
        height: 26px;
    }

    /* Item Edit */

    .item-edit p {
        display: inline-block;
        font-size: var(--item-font-size);
        padding-right: 2px;
    }

    .item-edit input {
        font-size: var(--item-font-size);
        padding: var(--item-padding);
    }

    .item-label-field {
        width: 120px;
        margin-left: 20px;
        font-weight: 500;
    }

    .item-value-field {
        width: 60px;
    }
}